snippet sh
	#!/usr/bin/env python
snippet utf
	# -*- coding: utf-8 -*-
snippet shf
	#!/usr/bin/env python
	# -*- coding: utf-8 -*-
snippet cmt
	"""
	${1}
	"""
snippet pdb
	import pdb
	pdb.set_trace()
